.sidebar {
    flex: 0.15;
    background-color: #ffffff;
    height: 100vh;
    border-right: 1px solid #e0e0e0;
    padding-top: 10px;
  }
  
  .sidebar__logo img {
    height: 25px;
    margin-left: 24px;
    margin-bottom: 10px;
  }
  
  .sidebar__option {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #606060;
  }
  
  .sidebar__option:hover {
    background-color: #f2f2f2;
  }
  
  .sidebar__option span {
    margin-left: 20px;
    font-weight: 500;
  }
  
  .sidebar__option .icon {
    font-size: 24px;
  }